/* hover dropdown menus */
@media only screen and (max-width: 991px) {
  .navbar-hover .show > .dropdown-toggle::after {
    transform: rotate(-90deg);
  }
}
@media only screen and (min-width: 992px) {
  .navbar-hover .collapse ul li {
    position: relative;
  }

  .navbar-hover .collapse ul li:hover > ul {
    display: block;
  }

  .navbar-hover .collapse ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 250px;
    display: none;
  }

  .navbar-hover .collapse ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 250px;
    display: none;
  }

  /*.navbar-hover .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}*/
}
.nav-item {
  min-height: 60px;
}
.nav-item.dropdown {
  height: 54px;
}
.nav-item.dropdown .dropdown-menu {
  top: 56px;
}
.nav-item.dropdown .dropdown-menu ul {
  top: 0px;
}

ul.bannerSlider {
  padding-left: 0;
  height: 450px;
}
@media screen and (max-width: 900px) {
  ul.bannerSlider {
    height: auto;
  }
}
ul.bannerSlider .slide__image img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
ul.bannerSlider .slide__image img.slide__image__top-position {
  object-position: center bottom;
}
ul.bannerSlider .slick-slide {
  position: relative;
}
ul.bannerSlider .slide__text {
  position: absolute;
  z-index: 100;
  text-align: center;
  width: 60%;
  transform: translateY(-50%);
  top: 25%;
  left: 8%;
}
ul.bannerSlider .slide__text h2 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 0px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 900px) {
  ul.bannerSlider .slide__text h2 {
    font-size: 24px;
  }
}
ul.bannerSlider .slide__text p {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 0px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.partnerSlider .slick-slide img {
  display: block;
  border-bottom-color: #3b99d7;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}

.banner-wrapper {
  margin-bottom: 60px;
}
.banner-wrapper .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  min-height: 250px;
  background: #007bff;
  opacity: .75;
}
.banner-wrapper .banner-layer {
  padding-left: 60px;
  padding-right: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 350px;
}
.banner-wrapper .banner-layer .main-banner-slider {
  margin-left: -75px;
  margin-right: -75px;
}
@media screen and (max-width: 900px) {
  .banner-wrapper .banner-layer {
    min-height: 175px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.banner-wrapper #block-views-block-banner-block-1 {
  display: none;
}
.banner-wrapper .container {
  background: #ccc;
}
.banner-wrapper #block-zinble-page-title {
  top: 175px;
  position: relative;
  margin: 0 30px 0 20px;
  width: auto;
  display: inline-block;
}
.banner-wrapper #block-zinble-page-title h1 {
  font-size: 46px;
  line-height: 35px;
  font-weight: 800;
  letter-spacing: 1px;
  font-style: italic;
  color: #fff;
}
@media screen and (max-width: 900px) {
  .banner-wrapper #block-zinble-page-title {
    top: 75px;
  }
  .banner-wrapper #block-zinble-page-title h1 {
    font-size: 26px;
  }
}
.banner-wrapper #block-zinble-breadcrumbs {
  display: inline-block;
  top: 175px;
  position: relative;
  float: right;
}
@media screen and (max-width: 900px) {
  .banner-wrapper #block-zinble-breadcrumbs {
    top: 115px;
  }
}
.banner-wrapper #block-zinble-breadcrumbs ol {
  padding: 10px 16px;
  list-style: none;
  background-color: transparent;
}
.banner-wrapper #block-zinble-breadcrumbs ol li {
  display: inline;
  font-size: 18px;
  font-weight: 800;
  font-style: italic;
  color: #fff;
}
.banner-wrapper #block-zinble-breadcrumbs ol li + li:before {
  padding: 8px;
  color: #fff;
  content: "/\00a0";
}
.banner-wrapper #block-zinble-breadcrumbs ol li a {
  color: #fff;
  text-decoration: none;
}
.banner-wrapper #block-zinble-breadcrumbs ol li a:hover {
  text-decoration: underline;
}

.zinble-view-block .title_wrapper {
  text-align: center;
  width: auto;
}
.zinble-view-block .title_wrapper h2 {
  text-align: center;
  display: inline-block;
}
.zinble-view-block .title_wrapper h2.title:after {
  content: '';
  width: 100%;
  background: #007bff;
  height: 5px;
  position: relative;
  display: block;
  float: none;
  margin: 5px 0 15px 0px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.zinble-view-block header {
  color: #686767;
  margin-bottom: 20px;
  text-align: center;
}

.content-media-wrapper:hover .content-media .content-hover {
  opacity: 1;
}
.content-media-wrapper:hover .content-media .content-hover a {
  opacity: 1;
}
.content-media-wrapper .content-media {
  position: relative;
  width: 100%;
}
.content-media-wrapper .content-media .content-thumbnail {
  text-align: center;
}
.content-media-wrapper .content-media .content-thumbnail img {
  width: 100%;
  height: 100%;
}
.content-media-wrapper .content-media .content-hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.3s;
  text-align: center;
}
.content-media-wrapper .content-media .content-hover a {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -17px;
  margin-left: -50px;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid #007bff;
  padding: 10px;
  background: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.content-media-wrapper .content-media .content-hover a:hover {
  border: 1px solid #fff;
  padding: 10px;
  background: #fff;
  color: #007bff;
}
@media screen and (max-width: 900px) {
  .content-media-wrapper .content-media .content-hover a {
    padding: 5px;
  }
  .content-media-wrapper .content-media .content-hover a:hover {
    padding: 5px;
  }
}
.content-media-wrapper .content-main {
  position: relative;
  border: 1px solid rgba(74, 59, 59, 0.1);
  border-top: 2px solid #3b99d7;
  cursor: default;
  transition: all 0.3s;
  margin-top: 2px;
  background-color: #fff;
  margin-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
}
.content-media-wrapper .content-main h2 {
  text-align: center;
}
.content-media-wrapper .content-main p {
  font-size: 15px;
  font-weight: normal;
}

.zinble-view-partners {
  min-height: 250px;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #3b99d7;
}
.zinble-view-partners h2 {
  color: #fff;
}
.zinble-view-partners h2.title:after {
  background: #fff !important;
}
.zinble-view-partners ul {
  padding-left: 0px;
}

.container-fluid .zinble-view-partners {
  margin-right: -75px;
  margin-left: -75px;
}

header {
  color: #ccc;
}
header #header_top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #292b33;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 60px;
  padding-right: 60px;
  min-height: 55px;
}
header #header_top .contact_details {
  display: inline-block;
  width: auto;
  list-style-type: none;
  padding-left: 0px;
}
header #header_top .contact_details li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
header #header_top .contact_details li .fa-envelope {
  padding-right: 5px;
}
header #header_top .contact_details li a {
  font-size: 12px;
}
@media screen and (max-width: 600px) {
  header #header_top .contact_details li.slogan {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  header #header_top .contact_details {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}
header #header_top .social {
  display: inline-block;
  float: right;
  width: auto;
  list-style-type: none;
  margin-bottom: 0px;
}
@media screen and (max-width: 600px) {
  header #header_top .social {
    display: block;
    text-align: center;
    float: none;
    margin-top: 0px;
    padding-left: 0px;
  }
}
header #header_top .social li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
header #header_top .social li a {
  color: #fff;
  width: 32px;
  height: 32px;
  background: #ccc;
  border-radius: 32px;
  border: 1px solid #ccc;
  -moz-border-radius: 32px 32px 32px 32px;
  -webkit-border-radius: 32px 32px 32px 32px;
  color: #fff;
  display: inline-block;
  margin: 1px;
}
header #header_top .social li a .fa {
  position: relative;
  left: 32%;
  top: 8%;
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  header #header_top .social li a .fa {
    left: 0 !important;
  }
}
header #header_top .social li.facebook a .fa {
  left: 36%;
}
header #header_top .social li.facebook a:hover {
  background: #3b5998;
  border: 1px solid #3b5998;
}
header #header_top .social li.linkedin a:hover {
  background: #00aced;
  border: 1px solid #00aced;
}
header #header_top .social li.googleplus a .fa {
  left: 25%;
}
header #header_top .social li.googleplus a:hover {
  background: #dd4b39;
  border: 1px solid #dd4b39;
}
header #header_top .social li.twitter a:hover {
  background: #00aced;
  border: 1px solid #00aced;
}
@media screen and (max-width: 600px) {
  header {
    background-color: #fff;
  }
}
header #header_bottom {
  height: 75px;
  padding-left: 60px;
  padding-right: 60px;
}
header #header_bottom .logo {
  padding: 0;
  width: auto;
  display: inline-block;
}
header #header_bottom .menu_wrapper {
  width: auto;
  display: inline-block;
}

footer {
  background-color: #292b33;
  color: #ccc;
  background-position: center top;
  background-repeat: no-repeat;
}
footer.footer_copy {
  padding-bottom: 30px;
  padding-top: 25px;
  padding-left: 60px;
  padding-right: 60px;
  min-height: 33px;
}
footer.footer_copy .copy-right {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
  margin-top: 10px;
}
footer.footer_copy .footer-box .footer1,
footer.footer_copy .footer-box .footer2,
footer.footer_copy .footer-box .footer3,
footer.footer_copy .footer-box .footer4 {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  min-height: 300px;
  display: block;
}
footer.footer_copy .footer-box .footer1 h2.title,
footer.footer_copy .footer-box .footer1 h6.title,
footer.footer_copy .footer-box .footer2 h2.title,
footer.footer_copy .footer-box .footer2 h6.title,
footer.footer_copy .footer-box .footer3 h2.title,
footer.footer_copy .footer-box .footer3 h6.title,
footer.footer_copy .footer-box .footer4 h2.title,
footer.footer_copy .footer-box .footer4 h6.title {
  text-align: left !important;
}
footer.footer_copy .footer-box .footer1 h2.title:after,
footer.footer_copy .footer-box .footer1 h6.title:after,
footer.footer_copy .footer-box .footer2 h2.title:after,
footer.footer_copy .footer-box .footer2 h6.title:after,
footer.footer_copy .footer-box .footer3 h2.title:after,
footer.footer_copy .footer-box .footer3 h6.title:after,
footer.footer_copy .footer-box .footer4 h2.title:after,
footer.footer_copy .footer-box .footer4 h6.title:after {
  content: '';
  width: 100%;
  background: #007bff;
  height: 5px;
  position: relative;
  display: block;
  float: none;
  margin: 5px 0 15px 0px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
footer.footer_copy .footer-box ul {
  list-style-type: none;
}
footer.footer_copy .footer-box ul a {
  color: #fff;
  font-size: 14px;
}
footer.footer_copy .footer-box ul a:after {
  content: "\f061";
  font: normal normal normal 12px/1 FontAwesome;
  padding-left: 11px;
}
footer.footer_copy .footer-box .zinble-view-block .title_wrapper {
  text-align: center;
  width: auto;
}
footer.footer_copy .footer-box .zinble-view-block .title_wrapper h2 {
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
footer.footer_copy .footer-box .zinble-view-block .title_wrapper h2.title:after {
  content: '';
  width: 100%;
  background: #007bff;
  height: 5px;
  position: relative;
  display: block;
  float: none;
  margin: 5px 0 15px 0px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
footer.footer_copy .footer-box .contact-info .contact-line {
  margin-bottom: 15px;
}
footer.footer_copy .footer-box .contact-info .contact-line .fa {
  margin-right: 15px;
  color: #007bff;
}
footer.footer_copy .footer-box .contact-info .contact-line span {
  padding-left: 5px;
}
footer.footer_copy .footer-box .contact-info .contact-line a {
  color: #ccc;
}
footer.footer_copy .footer-box h2 a,
footer.footer_copy .footer-box h6 a {
  color: #fff;
  font-size: 14px;
}
footer.footer_copy .footer-box h2 a:after,
footer.footer_copy .footer-box h6 a:after {
  content: "\f061";
  font: normal normal normal 12px/1 FontAwesome;
  padding-left: 11px;
}
footer.footer_copy .footer-bottom {
  display: inline-block;
  width: auto;
}
@media screen and (max-width: 600px) {
  footer.footer_copy .footer-bottom {
    display: block;
    text-align: center;
  }
}
footer.footer_copy .social {
  display: inline-block;
  float: right;
  width: auto;
  list-style-type: none;
  margin-bottom: 0px;
}
@media screen and (max-width: 600px) {
  footer.footer_copy .social {
    display: block;
    text-align: center;
    float: none;
    margin-top: 20px;
    padding-left: 0px;
  }
}
footer.footer_copy .social li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
footer.footer_copy .social li a {
  color: #fff;
  width: 32px;
  height: 32px;
  background: #ccc;
  border-radius: 32px;
  border: 1px solid #ccc;
  -moz-border-radius: 32px 32px 32px 32px;
  -webkit-border-radius: 32px 32px 32px 32px;
  color: #fff;
  display: inline-block;
  margin: 1px;
}
footer.footer_copy .social li a .fa {
  position: relative;
  left: 32%;
  top: 8%;
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  footer.footer_copy .social li a .fa {
    left: 0 !important;
  }
}
footer.footer_copy .social li.facebook a .fa {
  left: 36%;
}
footer.footer_copy .social li.facebook a:hover {
  background: #3b5998;
  border: 1px solid #3b5998;
}
footer.footer_copy .social li.linkedin a:hover {
  background: #00aced;
  border: 1px solid #00aced;
}
footer.footer_copy .social li.googleplus a .fa {
  left: 25%;
}
footer.footer_copy .social li.googleplus a:hover {
  background: #dd4b39;
  border: 1px solid #dd4b39;
}
footer.footer_copy .social li.twitter a:hover {
  background: #00aced;
  border: 1px solid #00aced;
}

#block-zinble-local-tasks ul {
  overflow: visible;
  max-height: none !important;
  padding-top: 0 !important;
  margin: 16px 0 0;
}
#block-zinble-local-tasks ul li {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0 0 -1px;
  margin-left: 0px;
  text-align: center;
  border-bottom-color: #a6a6a6;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #0074bd;
  border: 1px solid #bfbfbf;
  border-bottom-color: #bfbfbf;
  background-color: rgba(242, 242, 240, 0.7);
}
#block-zinble-local-tasks ul li a {
  padding: 7px 2em 7px 2em;
  background-image: none;
  color: #000;
}

.banner-wrapper img {
  width: 100%;
  border-radius: 3px;
  maring-bottom: 15px;
}

#block-zinble-content {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
#block-zinble-content article .field {
  margin-bottom: 30px;
}
#block-zinble-content article .field-node--field-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 4px solid #fff;
}

#search-block-form h6 {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 12px;
}
#search-block-form .js-form-type-search {
  width: 100%;
}
#search-block-form .js-form-type-search input[type="search"] {
  background: #f5f5f5;
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-weight: 500;
  margin-bottom: 24px;
  border-radius: 0;
}
#search-block-form .form-actions {
  display: none;
}

.content-top {
  padding-left: 60px;
  padding-right: 60px;
}
@media screen and (max-width: 900px) {
  .content-top {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.content-bottom {
  padding-left: 60px;
  padding-right: 60px;
}
@media screen and (max-width: 900px) {
  .content-bottom {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.with-first-side-bar #block-zinble-content {
  padding-left: 20px;
}

.contact-block {
  text-align: center;
}
.contact-block .contact-info {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.contact-block .contact-info .contact-line a span:before {
  margin-right: 10px;
}

.layout aside .title_wrapper {
  text-align: left;
}
.layout aside .title_wrapper h2 {
  font-size: 16px;
}
.layout aside.sidebar-first {
  padding-left: 60px;
}
@media screen and (max-width: 900px) {
  .layout aside.sidebar-first {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }
}

.blog-wrapper {
  margin-bottom: 30px;
  margin-bottom: 50px;
}
.blog-wrapper .item .views-field-uid {
  width: auto;
  display: inline;
}
.blog-wrapper .item .views-field-created {
  width: auto;
  display: inline;
  float: right;
}
.blog-wrapper .item .content-main {
  border: 1px solid rgba(74, 59, 59, 0.1);
  border-top: 2px solid #3b99d7;
}
.blog-wrapper .item .content-main h2 {
  margin-top: 15px;
}
.blog-wrapper .item .content-main p {
  margin-top: 15px;
}
.blog-wrapper .item .content-hover h2 {
  color: #fff;
  top: 25%;
  position: relative;
}
.blog-wrapper .item .content-hover a {
  top: 55%;
}
@media screen and (max-width: 900px) {
  .blog-wrapper .item .content-hover a {
    top: 75%;
  }
}
.blog-wrapper .item .content-hover .views-field-created,
.blog-wrapper .item .content-hover .views-field-uid {
  color: #fff;
}

.zinble-view-block .second-title h2 {
  padding-bottom: 30px;
  padding-top: 15px;
  letter-spacing: 6px;
  font-size: 32px;
  text-align: center;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-node-type-article article .basic-content h1 {
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
}
.page-node-type-article article .basic-content h1 a:hover {
  text-decoration: none;
}
.page-node-type-article article .basic-content h1 span {
  font-size: 30px;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: italic;
  text-align: center;
  color: #444444;
}
.page-node-type-article article p {
  line-height: 1.6;
  margin-bottom: 15px;
  margin-top: 0px;
  color: #555;
  font-size: 14px;
}
.page-node-type-article article div.author {
  color: #444444;
  padding-bottom: 30px;
}
.page-node-type-article article img {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 3px;
}

.recent-post .article-media {
  margin-bottom: 15px;
}
.recent-post .article-media img {
  width: 100%;
  border-radius: 3px;
}

.news-blog-categories table a {
  text-transform: capitalize;
}
.news-blog-categories table .fa-arrow-right {
  padding-left: 10px;
  color: #007bff;
  text-decoration: none;
}

.zinble-teaser {
  clear: both;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-top: 10px;
}
.zinble-teaser h2 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: italic;
  text-align: center;
  color: #444444;
  margin-bottom: 0px;
}
.zinble-teaser h2 a {
  color: #444444;
}
.zinble-teaser .author {
  text-align: center;
  color: #444444;
  padding-bottom: 30px;
}
.zinble-teaser .field.field-node--field-image {
  width: 25%;
  display: inline-block;
  float: left;
}
.zinble-teaser .field.field-type-text-with-summary {
  width: 70%;
  display: inline-block;
  float: right;
}
.zinble-teaser .page-tags {
  clear: both;
  padding-top: 10px;
}
.zinble-teaser .links.inline {
  text-align: right;
  list-style-type: none;
}

body {
  font-size: 13px;
  line-height: 24px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
}

.page-tags ul {
  padding-left: 0px;
  display: inline-block;
}
.page-tags ul li {
  display: inline-block;
  width: auto;
  height: auto;
  margin-right: 10px;
}

blockquote {
  overflow: hidden;
  font-size: 20px;
  line-height: 40px;
  font-style: italic;
  background: #f5f5f5;
  padding: 32px;
  color: #777;
  font-weight: 300;
  border-left: 4px solid #007bff;
}
