/**
 * @file
 * Visual styles for a nested tree child.
 */

div.tree-child,
div.tree-child-horizontal {
  background-image: url(../../../images/core/tree.png);
  background-repeat: no-repeat;
}
div.tree-child {
  background-position: 11px center; /* LTR */
}
div.tree-child-last {
  background: url(../../../images/core/tree-bottom.png) no-repeat 11px center; /* LTR */
}
[dir="rtl"] div.tree-child,
[dir="rtl"] div.tree-child-last {
  background-position: -65px center;
}
div.tree-child-horizontal {
  background-position: -11px center;
}
